<div class="topWrapper text-center container-fluid">
    <div class="topBackground">
        <div class="topBlock">
            <h1 class="mainTitle">Our Blogs</h1>
        </div>
    </div>
    <div class="appDescription">
        <p class="text-center">これはユーザーが思い思いのブログを投稿できるブログサービスです。</p>
        <p class="text-center">みなさん投稿してね</p>
    </div>
</div>