// Place all the styles related to the myposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reset

*{
	box-sizing: border-box;
}
body, div, p, em, ul, ol, li, a, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

iframe {
  border: none;
}

/* remove list point mark */
ul,
ol {
  list-style: none;
}
*{
  box-sizing:border-box;
}
/* remove border & off descender */
img {
  border: 0;
  vertical-align: middle;
  width:100%;
}

/* anchor */
a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

/* remove descender */
svg,
input,
select,
textarea,
label {
  vertical-align: middle;
}

/* set collapse */
table {
  border-collapse: collapse;
}

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal;
}

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all;
}

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary {
  display: block;
}

/* for height 100% */
html,
body {
  min-width: 100%;
  min-height: 100%;
}

/* [if it need] remove default form style */
select,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
em {
  margin: 0;
  padding: 0;
  font-style: normal;
}

iframe {
  border: none;
}

input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
/////////////////////////////////////

.mainTitle {
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    color:aliceblue;
}
.topBackground{
    height: 600px;
    background-image:url(/books.jpg);
    line-height: 500px;
    position: relative;
}
.appDescription{
    background:antiquewhite;
}
.appDescription p{
    font-size:20px;
    color: #777;
}
.navbar-default {
    background:antiquewhite ;
}
footer p {
    margin-top:20px;
}
.contentBlock input[type="text"] {
    width: 100%;
    height: 150px;
    font-size:100%;
}
.contentBlock input[type="submit"]{
    border-radius: 0;
    -webkit-appearance: none;
    width: 150px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    background:linear-gradient(#FFF, whitesmoke);
    margin:40px 0;
}
.indexTitle {
    font-size: 30px;
}
.margin {
    margin-top:30px;
}
.content{
    font-size: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 10px;
}
.newPost {
    font-size: 20px;
    margin-top:30px;
}
body {
    background: floralwhite;
}
@media screen and (max-width:500px) { 
    .topBackground{
        height: 450px;
    }
    .appDescription p{
       font-size:15px;
       font-weight: bold; 
    }
    
}